.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:80%;
  margin:auto;
}
.icon-hourglass {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.App-site-img p{
  margin-top: 30px;
  margin-bottom: 30px;
  color:rgb(43,203,121);
  font-size: 20px;
}
.img-remote-site {
  width:100%
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}