.App-view-font{
  /* background-color: blanchedalmond; */
  padding: 10px;
}
.bold {
  font-weight: bold;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.colorDescript{
  display:flex;
  align-items: center;
}