.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display:flex;
  background-color: #222;
  height: 100;
  padding: 20px;
  color: white;
  align-items: center;
}

.App-title {
  margin-left: 20px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

