@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: left;
  background-color: rgb(233,246,252);
  height: 100;
  padding: 20px;
  padding-bottom: 50px;
  color: white;
}
.App-header img{
  margin-bottom:10px;
  margin-left:10px;
}

.App-title {
  margin-left: 20px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

